In [1]:
import requests
import pandas as pd
import numpy as np
from lxml import etree
from geopy.geocoders import Nominatim
# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

import json

print('Libraries imported.')

Libraries imported.

### Toronto Neighbourhood from wikipedia

In [2]:
"""Needed for first time only"""
tbo_df = pd.read_excel('Toronto Borough.xlsx')
tbo_df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [3]:
tbo_df.shape

(212, 3)

### Neighbourhood Lat Long

In [4]:
"""Needed for first time only"""
toronto = 'Toronto'
latList = []
longList = []
borList = []
neiList = []

In [ ]:
"""Needed for first time only"""
from opencage.geocoder import OpenCageGeocode

key = 'geocode key'
geocoder = OpenCageGeocode(key)

failed_rows = []
for index, row in tbo_df.iterrows():
    query = row['Neighbourhood'] + ", " + row['Borough'] + ", "  + "Toronto, Canada"
    #query = u'Bosutska ulica 10, Trnje, Zagreb, Croatia'
    results = geocoder.geocode(query)
    if(index % 10 == 0):
        print(index)
    if(results is None):
        failed_rows.append(results)
    else:
        latList.append(results[0]['geometry']['lat'])
        longList.append(results[0]['geometry']['lng'])
        neiList.append(row['Neighbourhood'])
        borList.append(row['Borough'])
lat_def = pd.DataFrame({ 'Bor' : borList, 'Nei': neiList, 'lat': latList, 'log': longList})
lat_def.to_csv(path_or_buf='Toronto_lat_log.csv')
lat_def.head()

In [5]:
lat_def = pd.read_csv('Toronto_lat_log.csv', index_col=0)
lat_def.head()

           Bor             Nei        lat        log
0  Scarborough           Rouge  43.804930 -79.165837
1  Scarborough         Malvern  43.809196 -79.221701
2  Scarborough  Highland Creek  43.790117 -79.173334
3  Scarborough      Rouge Hill  43.780271 -79.130499
4  Scarborough      Port Union  43.775504 -79.134977

In [6]:
lat_def.shape

(212, 4)